<a href="https://colab.research.google.com/github/marveltimothyy/Data-Visualization/blob/main/Netflix_Data_Preprocessing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NETFLIX Data Preprocessing
Data Source : https://www.kaggle.com/datasets/shivamb/netflix-shows
<br>
Data Visualisaztion :https://datastudio.google.com/reporting/7d825c62-e6d1-4974-9764-25f20fe57565

## Library and Dataset Import

In [2]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sb
from google.colab import drive 
import itertools
import csv 
from sklearn.preprocessing import OneHotEncoder

drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [43]:
#import raw dataset as DataFrame
data_path = os.path.join("/content/drive/MyDrive/Marvel/Project/Data Visualization/Raw_Netflix_Dataset.csv")
df = pd.read_csv(data_path)
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Preprocessing

###NaN Handling

In [44]:
#NaN Checking
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [45]:
#Drop NaN
df = df.dropna()
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [46]:
df.country.empty

False

In [47]:
df.to_csv('/content/drive/MyDrive/Marvel/Project/Data Visualization/NotNull_Netflix_Dataset.csv')

### Split Multivalue

In [50]:
#Set multivalue into split list
df.country = df.country.str.split(',')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","[United States, Ghana, Burkina Faso, United...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",[United Kingdom],"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",[United States],"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","[Germany, Czech Republic]","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",[India],"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","[United Arab Emirates, Jordan]","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",[United States],"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",[United States],"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",[United States],"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",[India],"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [57]:
#spread listed value into different rows 
result = df.explode('country')
result

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",United States,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Ghana,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Burkina Faso,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",United Kingdom,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Germany,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...",Jordan,"March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

Extra Null handling after split processed

In [58]:
(result.country=='').sum()

4

In [59]:
result = result[result.country != '']
(result.country=='').sum()

0

In [47]:
result

,show_id,type,title,cast,date_added,release_year,rating,duration,description,director,country,listed
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Dramas
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Independent Movies
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,International Movies
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Dramas
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Independent Movies
...,...,...,...,...,...,...,...,...,...,...,...,...
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Children & Family Movies
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Comedies
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Dramas
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,International Movies
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Music & Musicals

In [60]:
result.to_csv('/content/drive/MyDrive/Marvel/Project/Data Visualization/Processed_Netflix_Dataset.csv')

### One Hot Encoding Process to split movie and tv show in type column

In [ ]:
#using OHE function from Sklearn.preprocessing for action 
OHE = OneHotEncoder()
encoder_df = pd.DataFrame(OHE.fit_transform(result[['type']]).toarray())

final_df = result.join(encoder_df)
final_df

,show_id,type,title,cast,date_added,release_year,rating,duration,description,director,country,listed,0,1
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Dramas,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Independent Movies,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,International Movies,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Dramas,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Independent Movies,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Children & Family Movies,1.0,0.0
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Comedies,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Dramas,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,International Movies,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Music & Musicals,1.0,0.0

In [ ]:
#take current list of columns
list_columns = final_df.columns
list_columns

Index([     'show_id',         'type',        'title',         'cast',
         'date_added', 'release_year',       'rating',     'duration',
        'description',     'director',      'country',       'listed',
                    0,              1],
      dtype='object')

In [ ]:
#manual fit the new columns name 
final_df.columns = ['show_id', 'type', 'title', 'cast', 'date_added',
       'release_year', 'rating', 'duration','description','director','country','listed','movie', 'tv_show']

In [ ]:
final_df

,show_id,type,title,cast,date_added,release_year,rating,duration,description,director,country,listed,movie,tv_show
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Dramas,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,Independent Movies,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,United States,International Movies,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Dramas,1.0,0.0
7,s8,Movie,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","September 24, 2021",1993,TV-MA,125 min,"On a photo shoot in Ghana, an American model s...",Haile Gerima,Ghana,Independent Movies,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Children & Family Movies,1.0,0.0
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero...",Peter Hewitt,United States,Comedies,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Dramas,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,International Movies,1.0,0.0
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,Mozez Singh,India,Music & Musicals,1.0,0.0

In [ ]:
#Save data into csv
final_df.to_csv('/content/drive/MyDrive/Marvel/Project/Data Visualization/Processed_Type_Netflix.csv')

##Country Map
Using processed data to be customized for bubble map needs

In [61]:
df_country = pd.read_csv('/content/drive/MyDrive/Marvel/Project/Data Visualization/Processed_Netflix_Dataset.csv')
df_country.head(5)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",United States,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Ghana,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
2,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Burkina Faso,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",United Kingdom,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
4,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Germany,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."

In [62]:
#get number of content for each country
country_count = df_country.country.value_counts().tolist()
print(country_count)

[2130, 910, 355, 347, 166, 148, 145, 138, 129, 122, 97, 95, 91, 89, 84, 82, 81, 79, 75, 70, 66, 58, 54, 53, 52, 51, 51, 44, 43, 39, 34, 33, 31, 30, 23, 22, 22, 22, 20, 19, 19, 19, 18, 18, 17, 16, 16, 16, 16, 15, 15, 15, 14, 14, 13, 12, 11, 11, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [63]:
#get country list
country_list = df_country.country.unique().tolist()

In [64]:
#concat country and it number of content into a list
country = list(zip(country_list, country_count))

In [65]:
#set list into Data Frame with named columns
country = pd.DataFrame(country, columns=['country', 'total'])

In [38]:
#Save Data 
country.to_csv('/content/drive/MyDrive/Marvel/Project/Data Visualization/Country_Content_Total.csv')